.part1-img {
    width: 650px;
    height: 600px;
}
.font-size {
    font-size: 13px;
}
.bg_color_part1 {
   background-color: #F8F9FA;
}
 .part2-img {
    width: 80px;
    height: 80px;
 }

 
 .part4-img {
    width: 60px;
    height: 50px;
 }
 .text_justify {
    text-align: justify;
    width: 500px;
 }
 .part5 {
    background-color: #F8F9FA;
 }
 .part5-img {
    width: 650px;
    height: 500px;
 }
 .part5-img2 {
       width: 60px;
    height: 50px;

 }

 .footer_icons i {
   width: 40px;
   height: 40px;
   background-color: rgba(240, 237, 237, 0.808);

 }

 .hr-color {
   color: gray;
 }
 .navigation1  li {
   list-style-type: none;
 }